# Auto-detect text files and perform LF normalization
* text=auto

# Microsoft Excel
*.xlsx binary linguist-detectable=true
*.xls binary linguist-detectable=true
*.xlsm binary linguist-detectable=true
*.csv text linguist-detectable=true

# Microsoft Power BI
*.pbix binary linguist-detectable=true
*.pbit binary linguist-detectable=true
*.pbip text linguist-detectable=true
*.powerbi binary linguist-detectable=true
*.tmdl text
*.dax text

# Tableau
*.twb text linguist-language=XML linguist-detectable=true
*.twbx binary linguist-detectable=true
*.tds text linguist-language=XML linguist-detectable=true
*.tdsx binary linguist-detectable=true
*.tde binary linguist-detectable=true
*.hyper binary linguist-detectable=true

# Jupyter Notebooks & Python
*.ipynb text
*.py text
